# dependencies
node_modules/

# next.js
.next/
out/

# production
build/

# misc
.DS_Store
*.tsbuildinfo

# env files
.env
.env*.local

# debug
npm-debug.log*

/lib/generated/prisma

# prisma
prisma/dev.db
prisma/dev.db-journal

# claude
CLAUDE.md
postgres_data/
.claude/worktrees/
